backend {
  default="Local"
  providers {
    Local {
      config {
        filesystems {
          local {
            localization: [
              "copy", "soft-link", "hard-link"
            ]
            caching {
              duplication-strategy: [
                "copy", "soft-link", "hard-link"
              ]
            }
          }
        }
      }
    }
  }
}
